# Robot Framework Report
| Test | Status |
|---|---|
| Quick Get Request Test | PASS |
| Quick Get Request With Parameters Test | PASS |
| Quick Get A JSON Body Test | PASS |
